* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

button {
  color: white;
  background-color: #b61984;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.875rem;
}

#myHeader {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  margin-top: -1rem;
}

#myHeader .logo {
  width: 80px;
  height: auto;
}

#myHeader .nav-item .nav-link {
  padding: 1rem;
  font-weight: 600;
  position: relative;
  line-height: 80px;
  font-size: .875rem;
}

#myHeader .nav-item .nav-link:hover, #myHeader .nav-item .nav-link.active {
  color: #b61984;
}

#myHeader .nav-item .nav-link:hover::after, #myHeader .nav-item .nav-link.active::after {
  -webkit-transform: translate(-50%, 300%) scale(1);
          transform: translate(-50%, 300%) scale(1);
}

#myHeader .nav-item .nav-link::after {
  content: "";
  width: .5rem;
  height: .5rem;
  background-color: #b61984;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 300%) scale(0);
          transform: translate(-50%, 300%) scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#myHeader i.fa {
  font-size: 1rem;
  padding-inline: .3rem;
  cursor: pointer;
}

#myHeader i.fa:hover {
  color: #b61984;
}

.carousel {
  background-image: url(../../images/yellow_top_wave_01.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4rem;
}

.carousel .left .sub-title {
  color: #b61984;
  display: block;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.carousel .left .title {
  font-size: 3.5rem;
  font-weight: bold;
}

.carousel .right img {
  max-width: 100%;
}

.teacherList {
  text-align: center;
  background-image: url("../../images/Violet_top_left_wave.png"), url("../../images/Wave_White_bottom_right_shape_01.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom left;
  background-size: contain, contain;
  padding-top: 100px;
}

.teacherList .teacher {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.teacherList .teacher:hover {
  -webkit-box-shadow: 0 8px 16px #888888;
          box-shadow: 0 8px 16px #888888;
}

.teacherList .teacher:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.teacherList .teacher img {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.teacherList .teacher .teacher__info {
  padding: .7rem;
}

.teacherList .teacher .teacher__info .subtitile {
  font-size: .75rem;
  margin-bottom: .7rem;
  color: #b61984;
  display: block;
}

.teacherList .teacher .teacher__info .content {
  font-size: 1.5rem;
  font-weight: 600;
}

.teacherList .teacher .teacher__info p {
  font-size: .875rem;
}

.form .input-group .input-group-text {
  border-right: none;
  border-radius: 30px 0 0 30px;
  background-color: white;
}

.form .input-group .form-control {
  border-left: none;
  border-radius: 0 30px 30px 0;
  background-color: white;
}

.form .input-group .form-control:focus {
  border-color: #888888;
  border-left: none;
}
/*# sourceMappingURL=main.css.map */