* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

button {
  color: white;
  background-color: #b61984;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.875rem;
}

#myHeader {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  margin-top: -1rem;
}

#myHeader .logo {
  width: 80px;
  height: auto;
}

#myHeader .nav-item .nav-link {
  padding: 1rem;
  font-weight: 600;
  position: relative;
  line-height: 80px;
  font-size: .875rem;
}

#myHeader .nav-item .nav-link:hover, #myHeader .nav-item .nav-link.active {
  color: #b61984;
}

#myHeader .nav-item .nav-link:hover::after, #myHeader .nav-item .nav-link.active::after {
  -webkit-transform: translate(-50%, 300%) scale(1);
          transform: translate(-50%, 300%) scale(1);
}

#myHeader .nav-item .nav-link::after {
  content: "";
  width: .5rem;
  height: .5rem;
  background-color: #b61984;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 300%) scale(0);
          transform: translate(-50%, 300%) scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#myHeader i.fa {
  font-size: 1rem;
  padding-inline: .3rem;
  cursor: pointer;
}

#myHeader i.fa:hover {
  color: #b61984;
}

#myHeader button {
  -webkit-transition: all .5s;
  transition: all .5s;
  border: 1px solid transparent;
}

#myHeader button:hover {
  color: #b61984;
  background-color: white;
  border: 1px solid #b61984;
}

.carousel {
  background-image: url(../../images/yellow_top_wave_01.png), url("../../images/Violet_top_left_wave.png");
  background-size: contain, contain;
  background-position: top left, bottom left;
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.carousel .left .sub-title {
  color: #b61984;
  display: block;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.carousel .left .title {
  font-size: 3.5rem;
  font-weight: bold;
}

.carousel .right img {
  max-width: 100%;
}

.teacherList {
  text-align: center;
  background-image: url("../../images/Wave_White_bottom_right_shape_01.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #dcd1f0;
}

.teacherList .teacher {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.teacherList .teacher:hover {
  -webkit-box-shadow: 0 8px 16px #888888;
          box-shadow: 0 8px 16px #888888;
}

.teacherList .teacher:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.teacherList .teacher img {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.teacherList .teacher .teacher__info {
  padding: .7rem;
}

.teacherList .teacher .teacher__info .subtitile {
  font-size: .75rem;
  margin-bottom: .7rem;
  color: #b61984;
  display: block;
}

.teacherList .teacher .teacher__info .content {
  font-size: 1.5rem;
  font-weight: 600;
}

.teacherList .teacher .teacher__info p {
  font-size: .875rem;
}

.form {
  background-image: url(../../images/accent_bottom_wave_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
}

.form .form__content {
  padding: 3rem;
}

.form .left {
  padding-left: 3rem;
}

.form .right {
  -webkit-box-shadow: 1px 1px 8px #888888;
          box-shadow: 1px 1px 8px #888888;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.form .right h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: bold;
}

.form .right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80%;
}

.form .right button {
  width: 40%;
}

.form .div {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: .5rem auto;
}

.form .div input {
  border-radius: 30px;
  padding: .5rem 1rem;
  padding-left: 1.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form .div input:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.form .div i {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #b61984;
}

.form .div select {
  width: 100%;
  border-radius: 30px;
  padding: .5rem 1rem;
  padding-left: 1.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form .div select:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form .div textarea {
  width: 100%;
  border-radius: 30px;
  padding: .5rem 1rem;
  padding-left: 1.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form .div textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.form .div i.area {
  top: 1.2rem;
}

.form .input-group .input-group-text {
  border-right: none;
  border-radius: 30px 0 0 30px;
  background-color: white;
}

.form .input-group .form-control {
  border-left: none;
  border-radius: 0 30px 30px 0;
  background-color: white;
}

.form .input-group .form-control:focus {
  border-color: #888888;
  border-left: none;
}

footer {
  background-image: url("../../images/footer_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 0 12rem 0;
  color: white;
}

footer .item div {
  padding: .45rem 0;
  position: relative;
  font-size: .875rem;
}

footer .item div.link {
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer .item div.link:hover {
  color: #888888;
}

footer .item .email-group {
  position: relative;
  width: 100%;
}

footer .item .email-group input {
  color: white;
  background-color: #b61984;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.875rem;
  width: 100%;
  text-align: center;
  background-color: transparent;
  position: relative;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

footer .item .email-group input:focus {
  border-color: white;
  outline: none;
}

footer .item .email-group span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .item button {
  color: black;
  background-color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.875rem;
  width: 100%;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer .item button:hover {
  -webkit-box-shadow: 0 0 0 1px #fff inset;
          box-shadow: 0 0 0 1px #fff inset;
  color: #fff;
  background-color: #b61984;
}

footer .item form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .item div.link::after {
  content: "";
  width: 60px;
  height: .5px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 2px;
}

footer .item h5 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: .8rem;
}

footer .item span {
  font-size: .9rem;
  padding-left: .8rem;
  line-height: 1.1;
}

footer .item .social {
  padding-top: .75rem;
}

footer .item .social i.fa {
  font-size: 1rem;
  padding-inline: .3rem;
  cursor: pointer;
  color: white;
}

footer .item .social i.fa:hover {
  color: black;
}
/*# sourceMappingURL=main.css.map */