#myHeader {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    margin-top: -1rem;

    .logo {
        width: 80px;
        height: auto;
    }

    .nav-item {
        .nav-link {
            padding: 1rem;
            font-weight: 600;
            position: relative;
            line-height: 80px;
            font-size: .875rem;

            &:hover,
            &.active {
                color: $color-1;

                &::after {
                    transform: translate(-50%, 300%) scale(1);
                }
            }

            &::after {
                content: "";
                width: .5rem;
                height: .5rem;
                background-color: $color-1;
                display: block;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 300%) scale(0);
                transition: all .5s;
            }
        }
    }

    i.fa {
        font-size: 1rem;
        padding-inline: .3rem;
        cursor: pointer;

        &:hover {
            color: $color-1;
        }
    }
}

.carousel {
    background-image: url(../../images/yellow_top_wave_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 4rem;

    .left {
        // width: 45%;

        .sub-title {
            color: $color-1;
            display: block;
            font-size: 1.1rem;
            margin-bottom: .5rem;
        }

        .title {
            font-size: 3.5rem;
            font-weight: bold;
        }
    }

    .right {
        // width: 45%;

        img {
            max-width: 100%;
        }
    }
}

.teacherList {
    text-align: center;
    background-image: url("../../images/Violet_top_left_wave.png"), url("../../images/Wave_White_bottom_right_shape_01.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom left;
    background-size: contain, contain;
    padding-top: 100px;

    .teacher {
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        transition: all .5s;

        &:hover {
            box-shadow: 0 8px 16px #888888;

            img {
                transform: scale(1.03);
                transform-origin: center bottom;
            }
        }

        img {
            width: 100%;
            transition: all .5s;
        }

        .teacher__info {
            padding: .7rem;

            .subtitile {
                font-size: .75rem;
                margin-bottom: .7rem;
                color: $color-1;
                display: block;
            }

            .content {
                font-size: 1.5rem;
                font-weight: 600;
            }

            p {
                font-size: .875rem;
            }
        }
    }
}

.form {
    .input-group {
        .input-group-text {
            border-right: none;
            border-radius: 30px 0 0 30px;
            background-color: white;
        }

        .form-control {
            border-left: none;
            border-radius: 0 30px 30px 0;
            background-color: white;
        }

        .form-control:focus {
            border-color: #888888;
            border-left: none;
        }
    }
}