#myHeader {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    margin-top: -1rem;

    .logo {
        width: 80px;
        height: auto;
    }

    .nav-item {
        .nav-link {
            padding: 1rem;
            font-weight: 600;
            position: relative;
            line-height: 80px;
            font-size: .875rem;

            &:hover,
            &.active {
                color: $color-1;

                &::after {
                    transform: translate(-50%, 300%) scale(1);
                }
            }

            &::after {
                content: "";
                width: .5rem;
                height: .5rem;
                background-color: $color-1;
                display: block;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 300%) scale(0);
                transition: all .5s;
            }
        }
    }

    i.fa {
        font-size: 1rem;
        padding-inline: .3rem;
        cursor: pointer;

        &:hover {
            color: $color-1;
        }
    }

    button {
        transition: all .5s;
        border: 1px solid transparent;
    }

    button:hover {
        color: $color-1;
        background-color: white;
        border: 1px solid $color-1;
    }
}

.carousel {
    background-image: url(../../images/yellow_top_wave_01.png), url("../../images/Violet_top_left_wave.png");
    background-size: contain, contain;
    background-position: top left, bottom left;
    background-repeat: no-repeat;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .left {
        .sub-title {
            color: $color-1;
            display: block;
            font-size: 1.1rem;
            margin-bottom: .5rem;
        }

        .title {
            font-size: 3.5rem;
            font-weight: bold;
        }
    }

    .right {
        img {
            max-width: 100%;
        }
    }
}

.teacherList {
    text-align: center;
    background-image: url("../../images/Wave_White_bottom_right_shape_01.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #dcd1f0;

    .teacher {
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        transition: all .5s;

        &:hover {
            box-shadow: 0 8px 16px #888888;

            img {
                transform: scale(1.03);
                transform-origin: center bottom;
            }
        }

        img {
            width: 100%;
            transition: all .5s;
        }

        .teacher__info {
            padding: .7rem;

            .subtitile {
                font-size: .75rem;
                margin-bottom: .7rem;
                color: $color-1;
                display: block;
            }

            .content {
                font-size: 1.5rem;
                font-weight: 600;
            }

            p {
                font-size: .875rem;
            }
        }
    }
}

.form {
    background-image: url(../../images/accent_bottom_wave_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;

    .form__content {
        padding: 3rem;
    }

    .left {
        padding-left: 3rem;
    }

    .right {
        box-shadow: 1px 1px 8px #888888;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        h1 {
            font-size: 2.2rem;
            line-height: 1.2;
            font-weight: bold;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 80%;
        }

        button {
            width: 40%;
        }
    }


    .div {
        position: relative;
        align-self: center;
        align-content: center;
        margin: .5rem auto;

        input {
            border-radius: 30px;
            padding: .5rem 1rem;
            padding-left: 1.75rem;
            border: 1px solid rgba(0, 0, 0, .1);
            width: 100%;
        }

        input:focus {
            border: 1px solid rgba(0, 0, 0, .1);
            outline: none;
        }

        i {
            position: absolute;
            top: 50%;
            left: 1.5rem;
            transform: translateY(-50%);
            color: $color-1;
        }

        select {
            width: 100%;
            border-radius: 30px;
            padding: .5rem 1rem;
            padding-left: 1.75rem;
            border: 1px solid rgba(0, 0, 0, .1);
        }

        select:focus {
            outline: none;
            border: 1px solid rgba(0, 0, 0, .1);
        }

        textarea {
            width: 100%;
            border-radius: 30px;
            padding: .5rem 1rem;
            padding-left: 1.75rem;
            border: 1px solid rgba(0, 0, 0, .1);
        }

        textarea:focus {
            border: 1px solid rgba(0, 0, 0, .1);
            outline: none;
        }

        i.area {
            top: 1.2rem;
        }
    }

    .input-group {
        .input-group-text {
            border-right: none;
            border-radius: 30px 0 0 30px;
            background-color: white;
        }

        .form-control {
            border-left: none;
            border-radius: 0 30px 30px 0;
            background-color: white;
        }

        .form-control:focus {
            border-color: #888888;
            border-left: none;
        }
    }
}

footer {
    background-image: url("../../images/footer_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 0 12rem 0;
    color: white;

    .item {

        div {
            padding: .45rem 0;
            position: relative;
            font-size: .875rem;
        }

        div.link {
            cursor: pointer;
            transition: all .5s;
        }

        div.link:hover {
            color: #888888;
        }

        .email-group {
            position: relative;
            width: 100%;

            input {
                @include customButton(white, $color-1, .875rem);
                width: 100%;
                text-align: center;
                background-color: transparent;
                position: relative;
                z-index: 10;
                border: 1px solid rgba(255, 255, 255, .1);
            }

            input:focus {
                border-color: white;
                outline: none;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        button {
            @include customButton(black, white, .875rem);
            width: 100%;
            position: relative;
            transition: all .5s;
        }

        button:hover {
            box-shadow: 0 0 0 1px #fff inset;
            color: #fff;
            background-color: $color-1;
        }

        form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        div.link::after {
            content: "";
            width: 60px;
            height: .5px;
            background-color: rgba(0, 0, 0, .1);
            position: absolute;
            bottom: 0;
            left: 2px;
        }

        h5 {
            font-size: 1.5rem;
            font-weight: bold;
            padding-bottom: .8rem;
        }

        span {
            font-size: .9rem;
            padding-left: .8rem;
            line-height: 1.1;
        }

        .social {
            padding-top: .75rem;

            i.fa {
                font-size: 1rem;
                padding-inline: .3rem;
                cursor: pointer;
                color: white;

                &:hover {
                    color: black;
                }
            }
        }
    }

}